<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <div>
    <%= f.text_area :comment, placeholder: "画像を指定し、コメントを付けて下さい..." %>
  </div>
  <%= f.submit "投稿！" %>
<% end %>

<script type="text/javascript">
  $('#micropost_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('５メガバイト以上の大きすぎるファイルです。小さいファイルを指定して下さい。');
    }
  });
</script>
