<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header>
      <div>
        <%= link_to "ねずみのお家", '' %>
        <nav>
          <ul>
            <li><%= link_to "ホーム",   '' %></li>
            <li><%= link_to "説明",   '' %></li>
            <li><%= link_to "ログイン", '' %></li>
          </ul>
          </nav>
      </div>
    </header>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
